# =========================
# OmniClaw Environment Template
# =========================

# -------- Backend --------
OPENAI_KEY=sk-your-openai-key
JWT_SECRET=change_this_to_long_random_string
BASE_RPC=https://mainnet.base.org
GMMC_TOKEN=0x3d9b15274e579411555ff1f96fe9e1abf3df4b07
PORT=3001

# -------- Frontend --------
VITE_API=https://your-backend-url

MONAD_RPC=
MOLTBOOK_KEY=
OPENCLAW_KEY=
