OPENAI_KEY=
PRIVATE_KEY=
BASE_RPC=https://mainnet.base.org
MONAD_RPC=https://rpc.monad.xyz
GMMC_TOKEN=0x3d9b15274e579411555ff1f96fe9e1abf3df4b07
TREASURY=0xb601f79be23d114867a79c384a3f07111f59c874
MIN_HOLD=1000000
VITE_API=https://backend-url
MOLTBOOK_KEY=
OPENCLAW_KEY=
